{% load static %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
<link rel="icon" href="{% static 'img/icon.png' %}">
<!-- <div class="card-header "> -->
<ul class="nav nav-pills card-header-pills ms-auto">
    <div class="logo">
        <img src="{% static 'img/icon.png' %}" alt="">
    </div> 
        
     <li class="nav-item">
        <a class="nav-link" href="{% url 'paginainicio' %}">Inicio</a>
    </li> 
    <li class="nav-item">
        <a class="nav-link" href="{% url 'productos' %}">Productos</a>
    </li>
     <li class="nav-item">
        <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
    </li>     
    
    {% if user.is_superuser == True %}
    <li class="nav-item ini">
        <a class="nav-link a" href="{% url 'administrar' %}">Administrar</a>
    </li> 
    {% endif %}
    <li class="nav-item ini">
        <a class="nav-link a" href="{% url 'concurso_ropa' %}">Concurso</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item ini">
        <a class="nav-link a" href="{% url 'mis_compras' user.id %}">Mis compras</a>
    </li>
    <li class="nav-item ini">
        <a class="nav-link a" href="{% url 'misdatos' user.username %}">Mis datos</a>
    </li>
    <li class="nav-item ini">
        <a class="nav-link a" href="{% url 'cerrarsesion' %}">Cerrar Sesion</a>
    </li>
    {% else %}
    <li class="nav-item ini">
        <a class="nav-link b" href="{% url 'iniciarsesion' %}">Iniciar Sesión</a>
    </li>
    <li class="nav-item ini">
        <a class="nav-link a" href="{% url 'registro' %}">Registro</a>
    </li>
    {% endif %}
    
    
</ul>
    
<!-- </div>  -->